body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    background-color: #fff;
    padding: 20px;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

table, th, td {
    border: 1px solid #333;
    border-collapse: collapse;
}

table td {
    padding: 8px;
}

.act {
    text-decoration: none;
    padding: 5px;
    border: 1px solid #000;
}

.act-tambah {
    color: white;
    background-color: #60A5FA;
    margin-bottom: 25px;
}
.act-lihat {
    color: white;
    background-color: #34D399;
}
.act-edit {
    color: white;
    background-color: #FBBF24;
}
.act-hapus {
    color: white;
    background-color: #F87171;
}

.text-kanan {
    text-align: right;
}